body{
    color: white;
   
}
h1{
font-size: 100px;
font-family: Impact ;
color:orange;
margin: 0px;
}
.gallery-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.gallery-piece img {
    width: 70%;
    height: 320px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}
.gallery-piece {
    flex:  1 1 23% ;
    box-sizing: border-box;
}
.desscription{


    font-size: 20px;
    font-weight: bold;
    color: grey;
    margin-top: 0px;
}
.gallery-piece a{
    text-decoration: none;
}
.devs img{
    height: 400px;
    width: 25%;
    display: block;
    border-radius: 8px;
        
}
p{
    font-size: 20px;
    color: black;
    width: 70%;
    margin: 0;
    border-radius: 8px;
    
}